.barrier_image--container {
    background-size: cover;
    background-position: center 55%;
    height: 20vh;
    background-color: #023934;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.barrier-heading {
    text-align: center;
    color: white;
    z-index: 1;
}