.all_releases--container {
    min-height: 10vh;
    background-color: #03061c;
    padding: 5%;
}

.all_releases-header {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.release--container {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
}

.with-border {
    border-bottom: solid 2px white;
}

.left-release--container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.release-image {
    border-radius: 10%;
    width: 100%;
    height: auto;
}

.right-release--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-right-release--container {
    line-height: 1;

    h2 {
        margin: 5px 0;
    }

    h3 {
        margin: 3px 0;
    }
}

.middle-right-release--container {}

.bottom-right-release--container {}

.buttons-container {
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.release-button {
    min-height: 5vh;
    min-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-180deg, #38b78b 0%, #29926f 100%);
    //background-color: #38b78b;
    color: #03061c;
    border: 2px solid #03061c;
    transition: .3s;
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;

    h3 {
        color: #03061c;
    }
}


.release-button:hover {
    background-image: linear-gradient(-180deg, #03061c 0%, #020516 100%);
    //background-color: #03061c;
    color: #38b78b;
    border: 2px solid #38b78b;

    h3 {
        color: #38b78b;
    }
}