body {
    margin: 0;
    // background-color: #023934;

    h1 {
        color: white;
    }

    h2 {
        color: white;
    }

    h3 {
        color: white;
    }

    a {
        text-decoration: none;
    }

    p {
        color: white;
        line-height: 1.6;
        // letter-spacing: 1px;
        text-align: justify;
    }
}

html {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}