.footer--container {
    background-color: #023934;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text--container {
    height: 100%;
    text-align: center;
    color: white;
}