.footer--container {
    background-color: #023934;
    height: 10vh;
}

.footer-text--container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}